spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/vote_db
    username: postgres
    password: "1"
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
  sql:
    init:
      mode: always

server:
  port: 8080
  servlet:
    context-path: /vote-online
