spring:
  application:
    name: vote-online

  datasource:
    # Thay đổi kết nối sang PostgreSQL
    url: jdbc:postgresql://vote-db.ch8mw6w6unir.ap-southeast-1.rds.amazonaws.com:5432/vote_db
    username: postgres
    password: "vote1234"
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: warn

